*
        {
            font-family: 'Courier New', Courier, monospace;
          
            padding: 0;
            margin: 0;
        }

        body
        {
            display: flex;
            flex-direction: column;
            

        }
        
        .heading
        {    
            display: flex;
          
            align-items: center;
            color: white;
            background-color: rgb(22, 2, 94);
            width: 100%;
            margin: auto;
        }

        .headlogo
        {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: large;
        }

        .lefthead
        {   
           
            display: flex;
            align-items: center;
            margin-left: 50px;


        }

        .company-logo 
        {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin: 20px;
        }
        .righthead
        {   
            margin: 0;
            padding: 0;
           display: flex;
           margin-left: auto;
           margin-right: 50px;
           

        }

        .toplinks
        {
            display:flex;
            margin-left: auto;
            gap: 15px;
            flex-wrap: wrap;
           text-wrap: wrap;
        }

        .righthead a:hover
        {
            color: red;
        }

        .righthead a

        {
            color:  white;
            text-decoration: none;
             flex-wrap: wrap;
           text-wrap: wrap;
            
            
        }

        .sectionone
        {
            background-color:rgb(22, 2, 94) ;
            color: white;
            display: flex;
            align-items: center;

        }
        .leftitems
        {
            width: 50%;
            
            
        }

        .boldtext
        {   font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: bolder;
            font-size: xx-large;
        }


        .boldtext,.discription,.topbuttons
        {
           margin-left: 50px;
           margin-top: 5px;
           overflow-wrap: break-word;
           word-break: normal;

        }

        .discription

        {
            /* let make the discription itelic and give it a little weight. */
            font-size: medium;
            font-weight: 500;
            font-style: italic;
            
        }

        .topbuttons button
        {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

            font-weight: bold;

        }

        .loginone,.signupone
        {
            padding: 5px 10px;
            border-radius: 8px;
            color: white;
            border: 1px solid #fdf5f3;
            transition: all 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 5px;
        

        }

        button:active
        {
         transform: scale(0.98);
        }

        button:hover
        {
           box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);  transform: translateY(-2px); 
        }
        .signupone
        {
            background-color: rgb(47, 231, 255);
        }

        .loginone
        {
            background-color: rgb(113, 255, 47);
        }

        .sectiontwo
        {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin-bottom: 10px;
            
        }

        .thebox
        {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            text-wrap: wrap;
            align-items:flex-start;
            margin-left: 50px;
            margin-right: 50px;
            gap: 10px;
            

        }

        .boxes
        {
           display: flex;
           flex-direction: column;
           height: auto;
            width: 120px;
            flex-direction: column;
            margin-top: 20px;
            


        }

        .road
        {   
             margin-left: 50px;
            margin-right: 50px;
             margin-top: 10px;
             margin-bottom:10px ;
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold'
            , sans-serif;

           font-size: xx-large;
           font-weight: 900;
           
        }

        .twodis
        {
            display: flex;
            
            justify-content: center;
            text-wrap: wrap;
           flex-wrap: wrap;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           font-size: x-small;
           font-weight: 500;

             
        }

        .faith

        {
            display: flex;
            justify-content: center;
            background-color: rgb(9, 255, 63);
            height: 120px;
            width:auto;
            align-items: center;
            text-wrap: wrap;
           flex-wrap: wrap;
            overflow-wrap: break-word;
            word-break: normal;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;

        }

        #sectionthree
        {
            display: flex;
            flex-direction: column;
            background-color: #eceaea;
            font-family: Georgia, 'Times New Roman', Times, serif;
            gap: 10px;

        }

        .threehead

        {

            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            font-size: xx-large;
            font-weight: bold;
            margin-left: 50px;
            margin-right: 50px;
            

        }
         .leftdiv

        {
            width: 50% ;
            display: flex;
            flex-direction: column;
            margin-left: 45px;
            margin-right: 25px;
            


        }

        .rightdiv

        {
            width: 50%;
            margin-right: 45px;
            margin-left: 25px;

        }
        .threediv
        {
            display: flex;
            

            


        }
         .divhead
        {  
              display:flex;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            align-items: center;
            justify-content: center;
            

        }

        .divhead,.divthis,.divdeveloper

        {
            margin: 5px;
        }
      

       

        .divthis
        {
            font-style: italic;
            font-weight: bolder;
            
          


        }

        
        .divdeveloper

        {
            font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: bolder;
            font-size: small;
            text-align: end;


        }

        .sectionfour
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bluebox
        {    

            
            display: flex;
            flex-direction: column;
            background-color: rgb(1, 199, 248);
            justify-content: center;
            align-content: center;
            margin: 50px;
            color: white;
            padding-left: 30px;
            border-radius: 10px;
            padding-left: 30px;
            margin-left: 200px;
            margin-right: 200px;
            margin-top: 60px;
            margin-bottom: 60px;


            

        }

        .fourhead

        {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            font-size: normal;
            align-items: center;
            margin-top: 10px;

            

        }

        .thissign
        {
            display: flex;
            margin-right: 30px;
            margin-top: 10px;
            height: 60px;
            align-items: center;
        }

        .fourthis
        {
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            font-weight: 200px;
            font-size: normal;

        }

        .sign-up

        {   font-family: 'Courier New', Courier, monospace;
            display: flex;
            padding: 5px 10px;
            font-size: x-small;
            font-weight: bold;
            height: 30px;
            width: 120px;
            align-items: center;
            justify-content: center;
            background-color: rgb(1, 199, 248);
            border: 2px solid white;
            border-radius: 8px;
            color: white;
            



        }

        .sectionfive
        {   display: flex;
            color: white;
            justify-content: center;
            align-items: center;
             background-color:rgb(22, 2, 94) ;
             height: 50px;
             font-family: 'Times New Roman', Times, serif;
             font-size: smaller;
             font-weight: 100;
        }